/* Setting up body*/
body {

    margin: 0;
    font-family: sans-serif;
}




/* styling header*/
.portfolio {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* Header, Main, Footer */
    min-height: 100vh;

    .portfolio__header {
        background-color: #f0f0f0;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .portfolio__header__title {
            font-size: 2rem;
            margin: 0;

        }

        .portfolio__header__subtitle {
            margin: 0px 5px;
            font-style: italic;
        }

        .portfolio__header__nav {
            margin: 0;
            padding: 0;

            .portfolio__header__nav--list {
                display: flex;
                margin-right: 0;
                padding: 0;
                list-style: none;



                .portfolio__header__nav--item {

                    margin-right: 20px;

                    .portfolio__header__nav--link {
                        text-decoration: none;
                        color: #333000;

                        &:hover {
                            color: #696202;
                        }
                    }
                }

            }


        }
    }


    /* now we are styling main*/
    .portfolio__main {
        padding: 20px;
        display: flex;
        flex-direction: column;



        .portfolio__section {
            margin-bottom: 20px;


            /*styling container of every section on this portfolio*/

            .portfolio__section__title {
                font-size: 1.5rem;
                margin-bottom: 10px;
                color: #333333;
            }

            .portfolio__section__text {
                font-size: 1.1 rem;
                line-height: 1.6;
                color: #666666;



            }

            .firstLetter::first-letter {
                font-size: 1.6rem;
                margin-right: 5px;
                color: #666666;
            }


            /* Styling projects section*/
            .portfolio__projects {
                display: flex;
                flex-wrap: wrap;

                .portfolio__project {
                    width: calc(33% - 20px);
                    margin: 10px;
                    background-color: #eeeeee;
                    padding: 10px;
                    border-radius: 5px;

                    .portfolio__project__title {
                        font-size: 1rem;
                        margin-bottom: 5px;

                    }

                    .portfolio__project__description {
                        margin-bottom: 10px;
                    }


                    .portfolio__project__links {
                        display: flex;
                        margin-top: 5px;

                        .portfolio__project__link {
                            margin-right: 10px;
                            text-decoration: none;
                            color: #333333;

                            &:hover {
                                color: #696202;
                            }
                        }
                    }
                }
            }

            /*Styling list of skilss from the skills section*/
            .portfolio__skills--list {
                list-style: none;
                padding: 0;
                margin: 0;

                .portfolio__skills--list__item {
                    margin-bottom: 5px
                }
            }

            /*Styling the form from contact section*/
            .portfolio__contact--form {
                display: flex;
                flex-direction: column;
                margin-top: 10px;

                .portfolio__contact--form__label {
                    margin-bottom: 5px;
                }

                .portfolio__contact--form__input {
                    padding: 5px;
                    margin-bottom: 10px;
                    border: 1px solid #cccccc
                }

                .portfolio__contact--form__button {
                    background-color: #333333;
                    color: #ffffff;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }

            }
        }


    }

    .portfolio__footer {
        background-color: #f0f0f0;
        padding: 10px;
        text-align: center;

        .portfolio__footer__text {
            margin: 0;
        }
    }
}